.makers {
    min-height: 812px;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    text-align: center;
}