@import '../common/Button';
.main-wrapper {
  .replay {
    @media only screen and (max-width: 480px) {
      width: 120px;
      margin-right: 1rem;
    }
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .share {
    @media only screen and (max-width: 480px) {
      width: 120px;
    }
    margin-bottom: 0;
  }

  .result-inner {
    @media only screen and (max-width: 480px) {
      h1 {
        font-size: 1.2em;
        padding: 1rem 2rem;
      }
      padding: 1em 1.5em;
      margin-bottom: 2rem;
    }

    width: 100%;
    box-sizing: border-box;
    padding: 2em 2.5em;
    background-color: rgb(232, 247, 238);
    align-items: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

    @media only screen and (min-width: 480px) {
      h1 {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }

  .result-img {
    width: 150px;
    height: 250px;
    margin: 10px;
    max-width: 300px;
    max-height: 200px;
  }

  .result-desc {
    div + div {
      margin-top: 1rem;
    }
  }

  .icon-img {
    display: inline;
    width: 45px;
    height: 45px;
    margin: 0 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }

  .link-copy-container {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }

  .url-textarea {
    resize: none;
    display: inline-block;
    width: 130px;
    height: 45px;
    margin-right: 1em;
  }

  .link-copy-btn {
    display: inline-block;
    width: 50px;
    border-radius: 0;
    margin-bottom: 0;
  }
}

.h1 {
  display: block;
}

.artistname {
  color: rgb(4, 194, 83);
}

.desc-wrapper {
  .result-desc {
    text-align: center;
    display: block;
  }
}

.buttons {
  @media only screen and (max-width: 480px) {
    margin-top: 0;
    margin-bottom: 1em;
  }
  align-items: center;
  margin-top: 25px;
}

.sns-share-btn {
  @media (any-hover: hover) {
    &:hover {
      box-shadow: none;
      background: none;
    }
  }
  box-shadow: none !important;
  background: none !important;
  width: fit-content !important;
  margin-bottom: 0 !important;

  &:active {
    box-shadow: none !important;
    background: none !important;
  }
}
