.main-wrapper {
    min-height: 812px;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


